{% extends "base.html" %}
{% block content %}
  {% if msg!='' and type=='success' %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-success text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{msg}}</div>
    </div>
  </div>
  {% endif %}
  {% if msg!='' and type=='danger' %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="alert alert-danger text-center" role="alert">{{msg}}</div>
    </div>
  </div>
  {% endif %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
            <h1>HISTÓRICO</h1>
              <img src="{{ url_for('static', filename='img/graph.jpg')}}" alt="Gráfico">
        </div>
      </div>
    </div>
{% endblock %}
