{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
      {% if msg!='' and type=='success' %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success text-center" role="alert">{{msg}}</div>
        </div>
      </div>
      {% endif %}
      {% if msg!='' and type=='danger' %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger text-center" role="alert">{{msg}}</div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
            <img src="{{ url_for('static',filename='img/coffee-bottle.png') }}" width="800px" alt="Logo Coffee Bottle" class="img-responsive center-block">
        </div>
      </div>
    </div>
{% endblock %}
